body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    font-size: 15px;
    color: #1a1a1a;
    background: #f6f6f6;
    -webkit-tap-highlight-color: rgba(26, 26, 26, 0);
}

body,
button,
p,
pre {
    margin: 0;
}

.Button {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-radius: 3px;
}

#Popover16-toggle {
    padding: 0;
}

.LoadingBar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 101;
    display: none;
    height: 2px;
    pointer-events: none;
    background: #0084ff;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.AppHeader {
    position: relative;
    z-index: 100;
    min-width: 1000px;
    overflow: hidden;
    background: #fff;
    background-clip: border-box;
    -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    background-clip: content-box;
}

.Sticky.is-fixed {
    position: fixed;
    z-index: 2;
    -webkit-font-smoothing: subpixel-antialiased;
}

.AppHeader.is-fixed {
    z-index: 100;
}

.AppHeader-inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1000px;
    height: 52px;
    padding: 0 16px;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

a {
    color: inherit;
    text-decoration: none;
}

.AppHeader-Tabs {
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 23px;
}

.Tabs {
    border-bottom: 1px solid #f6f6f6;
}

.Tabs-item {
    display: inline-block;
    padding: 0 20px;
}

.AppHeader-Tab {
    padding: 0 17px;
}

li {
    list-style-type: none;
}

.SearchBar-searchButton {
    margin-left: 12px;
    padding: 0 12px;
    background: transparent;
    border-color: transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.SearchBar-tool .Popover {
    display: block;
}

.Popover {
    position: relative;
    display: inline-block;
}

.SearchBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.Input-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 180px;
    height: 34px;
    padding: 4px 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background .2s, border .2s;
    transition: background .2s, border .2s;
}

.SearchBar-input {
    width: 326px;
    padding-left: 12px;
    padding-right: 0;
}

.Input-wrapper.Input-wrapper--grey {
    background: #f6f6f6;
}

.SearchBar-toolWrapper {
    position: relative;
    z-index: 104;
    width: 326px;
}

.Button--primary.Button--blue {
    color: #fff;
    background-color: #0084ff;
}

.SearchBar-askButton {
    z-index: 103;
    padding: 0 14px;
    margin-left: 16px;
    -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease;
    line-height: 30px;
}

.Button--blue {
    color: #0084ff;
    border-color: #0084ff;
}

button,
p,
pre {
    margin: 0;
    margin-left: 0px;
}

button {
    padding: 0;
    font: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.AppHeader-userInfo {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.Popover {
    position: relative;
    display: inline-block;
}

.AppHeader-profile {
    position: relative;
}

.Button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.AppHeader-profileEntry {
    display: relative;
}

.Button--link,
.Button--plain {
    height: auto;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.AppHeader-profileAvatar {
    vertical-align: top;
}

.Avatar {
    background: #fff;
    border-radius: 2px;
}

.AppHeaderProfileMenu-creatorHintPopover {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.AppHeaderProfileMenu-creatorHintToggler {
    height: 30px;
    width: 30px;
}

.PageHeader:not(.is-shown) {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.PageHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.TopstoryPageHeader,
.TopstoryPageHeader-main {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.TopstoryPageHeader {
    height: 52px;
    margin: 0 auto;
    width: 1000px;
}

.TopstoryPageHeader-main {
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
}

.TopstoryPageHeader-tabs {
    -ms-flex-item-align: stretch;
    align-self: stretch;
    border-bottom: none;
    padding-left: 18px;
    height: 100%;
}

.TopstoryTabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #f6f6f6;
    height: 58px;
}

.TopstoryTabs-link.is-active {
    color: #0084ff;
    font-weight: 500;
}

.TopstoryTabs-link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    margin: 0 22px;
}

.TopstoryPageHeader-aside {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 296px;
}

.SimpleSearchBar-wrapper {
    margin: auto 0;
}

.TopstoryPageHeader-aside .TopstoryPageHeader-searchBar {
    width: 216px;
}

.SimpleSearchBar-input {
    padding-right: 0;
    width: 296px;
    background-color: #f6f6f6;
}

.Input::placeholder {
    color: #8590a6;
}

input.Input {
    color: #1a1a1a;
    height: 24px;
    line-height: 24px;
}

.Input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    padding: 0;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: transparent;
    border: none;
    resize: none;
}

.Button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.SimpleSearchBar-plainSearchButton {
    padding: 0 12px;
    border-color: transparent;
    background-color: transparent;
}

.Topstory-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 1000px;
    padding: 0 16px;
    margin: 10px auto;
}

.Topstory-mainColumn {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 0;
    width: 694px;
}

.css-w3ttmg {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #175199;
    display: block;
    cursor: pointer;
    font-size: 0;
}

.css-vnkjjr {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 0px;
    min-width: 0;
    max-width: 100%;
    height: auto;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 10px;
    object-fit: cover;
}

.Topstory-mainColumnCard {
    -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
}

.Topstory-tabCard {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.Topstory-noMarginCard {
    margin-bottom: 0 !important;
}

.Card {
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.Topstory-tabs {
    border-bottom: 1px solid #f0f2f7;
}

.TopstoryTabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #f6f6f6;
    height: 58px;
}

.TopstoryTabs-link.is-active {
    color: #0084ff;
    font-weight: 500;
}

.TopstoryTabs-link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    margin: 0 22px;
}

.Topstory-mainColumnCard .Card:not(.Topstory-tabCard) {
    margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #f0f2f7;
}

.TopstoryItem-isRecommend {
    padding: 20px;
}

.TopstoryItem {
    border-radius: 0;
    overflow: visible;
    overflow: initial;
    position: relative;
    padding: 16px 20px;
}

.GlobalSideBar {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    font-size: 14px;
}

.NewGlobalWrite {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.NewGlobalWrite-navTop {
    position: relative;
    padding: 20px 15px;
    border-bottom: 1px solid #f6f6f6;
}

.NewGlobalWrite-topItem {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    width: 45px;
    margin-left: 10px;
    margin-right: 10px;
}

.NewGlobalWrite-navIcon {
    width: 45px;
    color: #8590a6;
    margin: 0 auto 12px;
}

.NewGlobalWrite-navIcon {
    color: #8590a6;
}

.NewGlobalWrite-topTitle {
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: #444;
    white-space: nowrap;
}

.NewGlobalWrite-navBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.NewGlobalWrite-answerLater {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    border-right: 1px solid #f6f6f6;
}

.GlobalWriteAnswerLater {
    z-index: 1;
}

.NewGlobalWrite-navDraft {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
}

.NewGlobalWrite-navWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 16px 0;
}

.NewGlobalWrite-navTitle {
    font-size: 14px;
    color: #8590a6;
}

.CreatorEntrance-Link--smallIcon {
    padding: 0 17px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.CreatorEntrance-hint,
.CreatorEntrance-link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.CreatorEntrance-link {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.CreatorEntrance-Link--smallIcon .CreatorEntrancePage-hint--smallIcon {
    height: 52px;
    width: 100%;
    padding: 0;
    margin: 0 16px;
}

.CreatorEntrance-hint {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 56px;
}

.CreatorEntrance-hint,
.CreatorEntrance-link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.CreatorEntrance-creator {
    width: 18px;
    height: 18px;
    margin-left: 3px;
    color: #8590a6;
}

.CreatorEntrance-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 6px;
    line-height: 16px;
}

.CreatorEntrance-indexPageTitle {
    font-size: 14px;
    line-height: 1.4;
    margin-left: 3px;
    color: #8590a6;
}

.css-3j2kqe {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
}

.css-1ntg9ig {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(0, 132, 255);
}

.CreatorEntrance-arrow--smallIcon {
    position: relative;
    left: 4px;
}

.CreatorEntrance-arrow {
    color: #8590a6;
}

.GlobalSideBar-category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.GlobalSideBar-category,
.GlobalSideBar-categoryList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.css-520aav {
    font-size: 0;
    margin: 10px 10px -4px;
}

.GlobalSideBar-categoryList {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 20px 0 -5px;
    padding: 0 10px;
}

.GlobalSideBar-categoryItem {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
}

li {
    list-style-type: none;
}

.Button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.GlobalSideBar-categoryIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}

.GlobalSideBar-categoryLabel {
    font-size: 15px;
    color: #8590a6;
}

.Pc-card {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    -webkit-transition: height .3s, margin .3s, opacity .3s;
    transition: height .3s, margin .3s, opacity .3s;
}

.Pc-card .Banner-adTag {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 45px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    color: #ebebeb;
    background-color: #000;
    opacity: .5;
    font-size: 12px;
    line-height: 27px;
    text-align: center;
}

.Pc-card img {
    display: block;
    width: 100%;
    border-radius: 2px;
}

.Pc-card-button-close {
    position: absolute;
    top: 12px;
    right: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    padding: 0;
    border-color: transparent;
    border-radius: 50%;
    background-color: #1a1a1a;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.Pc-card-button-close-svg {
    width: 14px;
    height: 16px;
    fill: #fff;
}

.GlobalSideBar-navList {
    width: 100%;
    padding: 8px 0;
}

ul {
    padding: 0;
    margin: 0;
}

.Button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.GlobalSideBar-navIcon {
    fill: #8590a6;
}

.GlobalSideBar-navItem {
    margin: 10px;
}

.GlobalSideBar-navText {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    margin: 0 10px;
    text-align: left;
}

.GlobalSideBar-navNumber {
    padding: 6px 10px;
    border-radius: 2px;
    background: #f6f6f6;
    color: #8590a6;
    font-size: 12px;
}

.GlobalSideBar .Footer {
    padding: 0 0 0 5px;
}

.Footer {
    padding: 10px 0 10px 5px;
    font-size: 13px;
    line-height: 2;
    color: #8590a6;
}

.Footer-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.Footer-item img {
    margin-right: 4px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.CornerButtons {
    position: fixed;
    bottom: 0;
    right: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    transition: -webkit-transform .2s ease;
    -webkit-transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    will-change: transfrom;
}

.CornerButtons,
.UnknownError {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.CornerAnimayedFlex {
    width: 40px;
    height: 52px;
    -webkit-transition: height .2s ease;
    transition: height .2s ease;
}

.Button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.OrgCreateButton {
    border: none;
}